@tailwind base;
@tailwind components;
@tailwind utilities;

.background-custom {
    @apply bg-cover bg-no-repeat bg-center bg-fixed h-screen w-screen;
    background-image:  url('/background.svg');
}

.tooltip {
    --tooltip-offset: 50px;
    --tooltip-tail-offset: 0px;
}

.tooltip:before {
    z-index: 100;
}

img {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .8));
}
